<p fontColor>
  Does everybody know that pig named Lorem Ipsum? She's a disgusting pig, right?
  Some people have an ability to write placeholder text... It's an art you're basically born with.
  You either have it or you don't. An 'extremely credible source' has called my office and told me that
  Lorem Ipsum's birth certificate is a fraud. I have a 10 year old son. He has words. He is so good
  with these words it's unbelievable. This placeholder text is gonna be HUGE. I will write some great
  placeholder text – and nobody writes better placeholder text than me, believe me – and I’ll write
  it very inexpensively. I will write some great, great text on your website’s Southern border, and
  I will make Google pay for that text. Mark my words. The other thing with Lorem Ipsum is that you
  have to take out its family. He’s not a word hero. He’s a word hero because he was captured. I like
  text that wasn’t captured. This placeholder text is gonna be HUGE. My text is long and beautiful,
  as, it has been well documented, are various other parts of my website. The concept of Lorem Ipsum
  was created by and for the Chinese in order to make U.S. design jobs non-competitive. You’re disgusting.
</p>
